<!DOCTYPE html>
<html>
<head>
    <title>My first Vue app</title>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    
    

    <div id="app">

        <div class="panel panel-default">
            <div class="panel-heading" style="font-weight:bold"><span class="glyphicon glyphicon-align-justify"></span> All courses</div>
            <div class="row">
                <div class="search-wrapper panel-heading col-sm-12">
                    <input class="form-control" type="text" v-model="searchQuery" placeholder="Search" />
                </div>
            </div>
            <div class="panel-body" style="max-height: 400px;overflow-y: scroll;">
                <table v-if="courses.length" class="table">
                    <thead>
                        <tr>
                            <th>Resource</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in filteredcourses">
                            <td><a v-bind:href="item.ur1" target="_blank">{{item.location}}</a>
                                     <a v-bind:href="item.ur1" target="_blank">{{item.price}}</a>
                            
                            </td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
         courses1 = [
{  'location': 'hendon', ur1: "hendon.html", 'price': 100 },
{  'location': 'colindale', ur1: "aaaa.com", 'price': 80 },
{  'location': 'brent cross', ur1: "aaaa.com", 'price': 90 },
{  'location': 'golders green', ur1: "aaaa.com", 'price': 120 }
] 

    
    localStorage.setItem('courses', JSON.stringify(courses1));
        
        var courses1 = JSON.parse(localStorage.getItem("courses"));
        new Vue({
            el: '#app',
            data() {
                return {
                    searchQuery: '',
                    courses: courses1
                    
                    
                    
                    
                };
            },
            computed: {
                filteredcourses() {
                    if (this.searchQuery) {
                        return this.courses.filter((item) => {
                            return item.location.startsWith(this.searchQuery);
                            
                             item.price.startsWith(this.searchQuery)
                            ;
                            
                        
                        })
                    } else {
                        return this.courses;
                    }
                }
            }


        })
    </script>

</body></html>
