<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" type="text/css" href="cc1css.css">
</head>
<body>
       <div id="app">

        <div class="panel panel-default">
            <div class="panel-heading" style="font-weight:bold"><span class="glyphicon glyphicon-align-justify"></span> All courses</div>
            <div class="row">
                <div class="search-wrapper panel-heading col-sm-12">
                    <input class="form-control" type="text" v-model="searchQuery" placeholder="Search" />
                </div>
            </div>
           </div>
    </div>
    
    <div id="app">
<div id="string">
  <ul>
    <li v-for="array in sortedArray" >{{ array.topic }}</li>
   
  </ul>
</div>

</div>

<script>
var string = new Vue({
  el: '#string',
  data: {
   course1 : [
{ 'topic': 'math', 'location': 'hendon', 'price': 100 },
{ 'topic': 'math', 'location': 'colindale', 'price': 80 },
{ 'topic': 'math', 'location': 'brent cross', 'price': 90 },
{ 'topic': 'math', 'location': 'golders green', 'price': 120 },
{ 'topic': 'english', 'location': 'hendon', 'price': 110 },
{ 'topic': 'english', 'location': 'colindale', 'price': 90 },
{ 'topic': 'english', 'location': 'brent cross', 'price': 90 },
{ 'topic': 'english', 'location': 'golders green', 'price': 130 },
{ 'topic': 'piano', 'location': 'hendon', 'price': 120 },
{ 'topic': 'piano', 'location': 'golders green', 'price': 140 }
]    
  },
  computed: {
    sortedArray: function() {
      function compare(a, b) {
        if (a.topic < b.topic)
          return -1;
        if (a.topic > b.topic)
          return 1;
        return 0;
      }

      return this.course1.sort(compare);
    }
  }
})

</script>

</body>
</html>
